body
{
    background-color: black;
    color: white;
}

h1
{
    color:#00ff00;
    font-size: larger;
}

h2
{
    font-style: italic;
    font-size: large;
}

@media (min-width:760px)
{
    h1
    {
        font-size: x-large;
    }
    h2
    {
        font-size: larger;
    }
}

img
{
    min-width: 15px;
    max-width: 25px;
    border: 0.2vw solid #00ff00;
    border-radius: 50%;
    width: 100%;
}

.Home
{
    display: flex;
    justify-content: flex-end;
}

@media (min-width:760px)
{
    .ENG img, .IT img
    {
        margin: 5px;
        min-width: 30px;
        max-width: 45px;
    }
}
@media (min-width:1300px)
{
    .ENG img, .IT img
    {
        min-width: 45px;
        max-width: 60px;
    }
}

@media (min-width:1300px)
{
    .Profile
    {
        display: flex;
        justify-content: space-evenly;
    }
}

.Me
{
    display: flex;
    justify-content: center;
}
.Me img
{
    min-width: 45px;
    max-width: 75px;
    width: 100%;
}
@media (min-width:760px)
{
    .Me img
    {
        min-width: 45px;
        max-width: 105px;
    }
}
@media (min-width:1300px)
{
    .Me
    {
        display: block;
        align-self: center;
    }
    .Me img
    {
        min-width: 200px;
        max-width: 300px;
    }
}

.About
{
    text-align: center;
}
.About p
{
    font-size: larger;
}
@media (min-width:760px)
{
    .About p
    {
        font-size: x-large;
    }
}

.Projects
{
    text-align: center;
}
.Elements
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Elements img
{
    min-width: 45px;
    max-width: 75px;
    width: 100%;
    animation: shake 2.5s infinite;
}
@keyframes shake
{
   0%{
      transform: rotateZ(0deg) translateX(0px);
   }
   55%
   {
      transform: rotateZ(0deg) translateX(0px);
   }
   60%{
      transform: rotateZ(10deg) translateX(10px);
   }
   65%{
      transform: rotateZ(-10deg) translateX(-10px);
   }
   70%{
      transform: rotateZ(10deg) translateX(10px);
   }
   75%{
      transform: rotateZ(-10deg) translateX(-10px);
   }
   80%{
      transform: rotateZ(0deg) translateX(0px);
   }
   100%{
      transform: rotateZ(0deg) translateX(0px);
   }
}
@media (min-width:760px)
{
    .Elements
    {
        grid-template-columns: repeat(3,1fr);
    }
    .Elements img
    {
        min-width: 75px;
        max-width: 120px;
    }
}
@media (min-width:1300px)
{
    .Elements img
    {
        min-width: 200px;
        max-width: 300px;
    }
}

.Footer
{
    margin: 1% 0;
    background-color: darkblue;
}

.Socials
{
    display: flex;
    justify-content: center;
}
.Socials img
{
    margin: 5px;
}
@media (min-width:760px)
{
    .Socials img
    {
        margin: 15px;
        min-width: 30px;
        max-width: 45px;
    }
}
@media (min-width:1300px)
{
    .Socials img
    {
        min-width: 45px;
        max-width: 60px;
        margin: 30px;
    }
}

.Copyright
{
    display: flex;
    justify-content: center;
}
.Copyright p
{
    font-size: small;
}
@media (min-width:760px)
{
    .Copyright p
    {
        font-size: medium;
    }
}