body
{
   background-color: black;
   color: white;
}

a
{
   color: yellow;
}

h1
{
   color: #00FF00;
}

footer
{
   position: absolute;
   right:0;
   bottom: 0;
   left: 0;
   margin-left: 1%;
}

.firstHeader
{
   margin-left: 40%;
}

.me
{
   float: left;
   margin-top:  2%;
   margin-left: 2%;
}

.description 
{
   text-align: center;
   margin-top: 7%;
   margin-right: 10%;
   font-size: x-large;
}

.projects
{
   text-align: left;
}

.socials
{
   width: 20%;
   margin-top: 8%;
   margin-left: 2%;
   margin-bottom: 4%;
}

.socials img
{
   height: 10%;
   width: 10%;
}